:root {
  --Editor--background: var(--body--background);

  --Handle--width: 1em;
  --Handle--background: blue;
  --Handle_Focus--box-shadow: 0 -0.5em 0 0 var(--Handle--background), 0 0.5em 0 0 var(--Handle--background);

  --Handle--border-radius: var(--Handle--width);
  --Handle_Left--border-radius: var(--Handle--border-radius) 0 0 var(--Handle--border-radius);
  --Handle_Right--border-radius: 0 var(--Handle--border-radius) var(--Handle--border-radius) 0;

  --Handle_inside--background: color-mix(in hsl, var(--Handle--background), transparent 80%);
}

.Editor {
  padding: 1em;

  box-shadow: 0 0 0 1px black;

  flex: 1 0 200px;
  width: 100%;
  overflow: auto;

  font-family: 'Courier New', Courier, monospace;

  >.Expr.root {}

  .Expr {
    /* padding: 0.5em; */

    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;

    user-select: none;
  }

  .Point {
    position: relative;
    display: flex;
    flex-direction: row;

    >.Buffer {
      position: fixed;
      display: none;
      visibility: hidden;

      &.open {
        display: block;
        visibility: visible;
      }
    }

    >.Left,
    >.Middle,
    >.Right {
      height: 1em;
      width: calc(var(--Handle--width) / 3);

      transition-property: background-color, box-shadow;
      transition-duration: 0.2s;
      /* transition-duration: 0; */
    }

    &.Point_Handle_PointStatus {
      >.Middle {
        background: var(--Handle--background);
        box-shadow: var(--Handle_Focus--box-shadow);
      }
    }

    &.SpanH_Handle_Left_PointStatus {
      >.Right {
        background: var(--Handle--background);
        border-radius: var(--Handle_Left--border-radius);
      }

      &.LeftFocus_PointStatus>.Right {
        box-shadow: var(--Handle_Focus--box-shadow);
      }

      &~* {
        background: var(--Handle_inside--background);
      }
    }

    &.SpanH_Handle_Right_PointStatus {
      >.Left {
        background: var(--Handle--background);
        border-radius: var(--Handle_Right--border-radius);
      }

      &.RightFocus_PointStatus>.Left {
        box-shadow: var(--Handle_Focus--box-shadow);
      }

      background: var(--Editor--background);

      &~* {
        background: var(--Editor--background);
      }
    }

    &.ZipperH_Handle_OuterLeft_PointStatus {
      >.Right {
        background: var(--Handle--background);
        border-radius: var(--Handle_Left--border-radius);
      }

      &.LeftFocus_PointStatus>.Right {
        box-shadow: var(--Handle_Focus--box-shadow);
      }

      &~* {
        background: var(--Handle_inside--background);
      }

      background: transparent;
    }

    &.ZipperH_Handle_InnerLeft_PointStatus {
      >.Right {
        background: var(--Handle--background);
      }

      &.LeftFocus_PointStatus>.Right {
        box-shadow: var(--Handle_Focus--box-shadow);
      }

      &~* {
        background: var(--Editor--background);
      }

      background: transparent;
    }

    &.ZipperH_Handle_InnerRight_PointStatus {
      >.Left {
        background: var(--Handle--background);
      }

      &.RightFocus_PointStatus>.Left {
        box-shadow: var(--Handle_Focus--box-shadow);
      }

      background: transparent;

      &~* {
        background: transparent;
      }
    }

    &.ZipperH_Handle_InnerLeft_PointStatus.ZipperH_Handle_InnerRight_PointStatus {
      >.Left {
        background: var(--Handle--background);
      }

      &.LeftFocus_PointStatus>.Left {
        box-shadow: var(--Handle_Focus--box-shadow);
      }

      &.RightFocus_PointStatus>.Left {
        box-shadow: none;
      }

      >.Middle {
        background: var(--Editor--background);
      }

      >.Right {
        background: var(--Handle--background);
      }

      &.LeftFocus_PointStatus>.Right {
        box-shadow: none;
      }

      &.RightFocus_PointStatus>.Right {
        box-shadow: var(--Handle_Focus--box-shadow);
      }
    }

    &.ZipperH_Handle_OuterRight_PointStatus {
      >.Left {
        background: var(--Handle--background);
        border-radius: var(--Handle_Right--border-radius);
      }

      &.RightFocus_PointStatus>.Left {
        box-shadow: var(--Handle_Focus--box-shadow);
      }

      background: transparent;

      &~* {
        background: var(--Editor--background);
      }
    }
  }
}