/* -------------------------------------------------------------------------- */

:root {
  /* --body--background: rgb(179, 175, 162); */
  --body--background: rgb(252, 243, 213);
  --body--color: black;
}

html,
body {
  margin: 0;
  padding: 0;

  background: var(--body--background);
}

body {
  height: 100vw;
  height: 100vh;
}