/* -------------------------------------------------------------------------- */

:root {
  /* --background-color: rgb(146, 146, 146); */
  --background-color: rgb(214, 214, 214);

  --handle-point-background-color: color-mix(in hsl, blue, transparent 30%);
  --handle-inner-background-color: color-mix(in hsl, blue, transparent 80%);
}

/* -------------------------------------------------------------------------- */

html,
body {
  margin: 0;
  padding: 0;

  background-color: var(--background-color);
}

/* -----------------------------------------------------------------------------
  Expr
----------------------------------------------------------------------------- */

.Expr {
  padding: 0.5em;

  display: inline-flex;
  /* display: flex; */
  flex-direction: row;
  /* align-items: center; */
  align-items: stretch;
  /* gap: 0.5em; */

  box-shadow: 0 0 0 1px black inset;

  user-select: none;
  cursor: pointer;

  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.Expr.ping {
  background-color: color-mix(in hsl, blue, transparent 50%);
  transition-duration: 0;
}

.ExprLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* -----------------------------------------------------------------------------
  Point
----------------------------------------------------------------------------- */

/* Point */

.Point {
  white-space: pre;
  width: 1em;
  /* height: 100%; */
  background-color: transparent;

  transition-property: background-color;
  transition-duration: 0.2s;
}

/* Cursor_Point PointStyle */

.Point.Cursor_Point {
  background-color: var(--handle-point-background-color);
}

/* Cursor PointStyle */

.Point.Cursor_Left {
  background-color: var(--handle-point-background-color);
}

.Point.Cursor_Left~* {
  background-color: var(--handle-inner-background-color);
}

.Point.Cursor_Right {
  background-color: var(--handle-point-background-color);
}

.Point.Cursor_Right~* {
  background-color: transparent;
}

/* Select PointStyle */

.Select_OuterLeft {
  background-color: var(--handle-point-background-color);
}

.Select_OuterLeft~* {
  background-color: var(--handle-inner-background-color);
}

.Select_InnerLeft {
  background-color: var(--handle-point-background-color);
}

.Select_InnerLeft~* {
  background-color: transparent;
}

.Select_InnerRight {
  background-color: var(--handle-point-background-color);
}

.Select_InnerRight~* {
  background-color: var(--handle-inner-background-color);
}

.Select_OuterRight {
  background-color: var(--handle-point-background-color);
}

.Select_OuterRight~* {
  background-color: transparent;
}

.Select_Inline_InnerLeft_And_InnerRight {
  background-color: var(--handle-point-background-color);
}

.Select_Inline_OuterLeft_And_InnerLeft {
  background-color: var(--handle-point-background-color);
}

.Select_Inline_InnerRight_And_OuterRight {
  background-color: var(--handle-point-background-color);
}

.Select_OuterLeft_And_InnerLeft {
  background-color: var(--handle-point-background-color);
}

.Select_InnerRight_And_OuterRight {
  background-color: var(--handle-point-background-color);
}

.Select_InnerLeft_And_InnerRight {
  background-color: var(--handle-point-background-color);
}

/* Select Inline PointStyle */

/* -----------------------------------------------------------------------------
  Console
----------------------------------------------------------------------------- */

.Console {
  font-family: monospace;
  white-space: pre-wrap;
}

.Console>.Header {}

.Console>.Body {}

.ConsoleMessage {
  box-shadow: 0 0 0 1px black;

  display: flex;
  flex-direction: row;
}

.ConsoleMessageLabel {
  flex: 0 0;

  background-color: black;
  color: white;

  padding: 0.5em;
  min-width: 10em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.ConsoleMessageError>.ConsoleMessageLabel {
  color: red;
}

.ConsoleMessageBody {
  flex: 1 1;
  padding: 0.5em;
  min-width: 0;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.ConsoleMessageError>.ConsoleMessageBody {
  background-color: rgb(255, 196, 196);
}

.ConsoleMessageBody.new {
  background-color: color-mix(in hsl, blue, transparent 50%);
}