/* -------------------------------------------------------------------------- */

:root {
  /* --background-color: rgb(146, 146, 146); */
  --background-color: rgb(214, 214, 214);

  --handle-point-background-color: color-mix(in hsl, blue, transparent 30%);
  --handle-inner-background-color: color-mix(in hsl, blue, transparent 80%);
}