/* -------------------------------------------------------------------------- */

:root {
  /* --background-color: rgb(146, 146, 146); */
  --background-color: rgb(214, 214, 214);

  --handle-point-background-color: color-mix(in hsl, blue, transparent 30%);
  --handle-inner-background-color: color-mix(in hsl, blue, transparent 80%);
}

/* -------------------------------------------------------------------------- */

html,
body {
  margin: 0;
  padding: 0;

  background-color: var(--background-color);
}

/* -----------------------------------------------------------------------------
  Expr
----------------------------------------------------------------------------- */

.Expr {
  padding: 0.5em;

  display: Inline-flex;
  /* display: flex; */
  flex-direction: row;
  /* align-items: center; */
  align-items: stretch;
  /* gap: 0.5em; */

  box-shadow: 0 0 0 1px black inset;

  user-select: none;
  cursor: pointer;
  font-family: monospace;

  transition-property: outline-color, outline-width;
  outline: 0 solid transparent;
  transition-duration: 0.2s;
}

.Expr.ping {
  outline-width: 0.1em;
  outline-color: blue;
  transition-duration: 0.2s;
}

.ExprLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* -----------------------------------------------------------------------------
  Point
----------------------------------------------------------------------------- */

/* Point */

.Point {
  white-space: pre;
  width: 1em;
  /* height: 100%; */
  background-color: transparent;

  transition-property: background-color;
  transition-duration: 0.2s;
}

/* Point_ViewPointStyle */

.Point.Point_ViewPointStyle {
  background-color: var(--handle-point-background-color);
}

/* Span_*_ViewPointStyle */

.Point.Span_Left_ViewPointStyle {
  background-color: var(--handle-point-background-color);
}

.Point.Span_Left_ViewPointStyle~* {
  background-color: var(--handle-inner-background-color);
}

.Point.Span_Right_ViewPointStyle {
  background-color: var(--handle-point-background-color);
}

.Point.Span_Right_ViewPointStyle~* {
  background-color: var(--background-color);
}

/* Zipper_*_ViewPointStyle */

.Point.Zipper_OuterLeft_ViewPointStyle {
  background-color: var(--handle-point-background-color);
}

.Point.Zipper_OuterLeft_ViewPointStyle~* {
  background-color: var(--handle-inner-background-color);
}

.Point.Zipper_InnerLeft_ViewPointStyle {
  background-color: var(--handle-point-background-color);
}

.Point.Zipper_InnerLeft_ViewPointStyle~* {
  background-color: var(--background-color);
}

.Point.Zipper_InnerRight_ViewPointStyle {
  background-color: var(--handle-point-background-color);
}

.Point.Zipper_InnerRight_ViewPointStyle~* {
  background-color: transparent;
}

.Point.Zipper_OuterRight_ViewPointStyle {
  background-color: var(--handle-point-background-color);
}

.Point.Zipper_OuterRight_ViewPointStyle~* {
  background-color: var(--background-color);
}

.Point.Zipper_Inline_InnerLeft_And_InnerRight_ViewPointStyle {
  background-color: var(--handle-point-background-color);
}

.Point.Zipper_Inline_OuterLeft_And_InnerLeft_ViewPointStyle {
  background-color: var(--handle-point-background-color);
}

.Point.Zipper_Inline_InnerRight_And_OuterRight_ViewPointStyle {
  background-color: var(--handle-point-background-color);
}

.Point.Zipper_OuterLeft_And_InnerLeft_ViewPointStyle {
  background-color: var(--handle-point-background-color);
}

.Point.Zipper_InnerRight_And_OuterRight_ViewPointStyle {
  background-color: var(--handle-point-background-color);
}

.Point.Zipper_InnerLeft_And_InnerRight_ViewPointStyle {
  background-color: var(--handle-point-background-color);
}


/* -----------------------------------------------------------------------------
  Console
----------------------------------------------------------------------------- */

.Console {
  white-space: pre-wrap;
}

.Console>.Header {}

.Console>.Body {}

.ConsoleMessage {
  box-shadow: 0 0 0 1px black;

  display: flex;
  flex-direction: row;
}

.ConsoleMessageLabel {
  flex: 0 0;

  background-color: black;
  color: white;

  padding: 0.5em;
  min-width: 10em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.ConsoleMessageError>.ConsoleMessageLabel {
  color: red;
}

.ConsoleMessageBody {
  flex: 1 1;
  padding: 0.5em;
  min-width: 0;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.ConsoleMessageBody ul,
.ConsoleMessageBody li {
  padding: 0;
  margin: 0;
}

.ConsoleMessageError>.ConsoleMessageBody {
  background-color: rgb(255, 196, 196);
}

.ConsoleMessageBody.new {
  background-color: color-mix(in hsl, blue, transparent 50%);
}